$nav-height: 15vh;
$deck-padding: 5vw;
$card-margin: 0.5vw;

//4 rows of 5 cards
$card20-width: calc(
  min(
    (100vh - #{$nav-height} - #{$deck-padding} - #{$card-margin} * 8) / 4,
    (100vw - #{$deck-padding} - #{$card-margin} * 10) / 5
  )
);

//5 rows of 6 cards
$card30-width: calc(
  min(
    (100vh - #{$nav-height} - #{$deck-padding} - #{$card-margin} * 10) / 5,
    (100vw - #{$deck-padding} - #{$card-margin} * 12) / 6
  )
);

//5 rows of 10 cards
$card50-width: calc(
  min(
    (100vh - #{$nav-height} - #{$deck-padding} - #{$card-margin} * 10) / 5,
    (100vw - #{$deck-padding} - #{$card-margin} * 20) / 10
  )
);

//7 rows of 10 cards
$card70-width: calc(
  min(
    (100vh - #{$nav-height} - #{$deck-padding} - #{$card-margin} * 14) / 7,
    (100vw - #{$deck-padding} - #{$card-margin} * 20) / 10
  )
);

//10 rows of 10 cards
$card100-width: calc(
  min(
    (100vh - #{$nav-height} - #{$deck-padding} - #{$card-margin} * 20) / 10,
    (100vw - #{$deck-padding} - #{$card-margin} * 20) / 10
  )
);

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100vw;
  height: $nav-height;
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: indianred;
}

.dialogue {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #8b8989, $alpha: 0.5);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: white;
    height: fit-content;
    padding: 3vw;
    position: relative;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw;
  }

  &__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    padding: 1vw;
    background-image: url("./assets/close.svg");
  }
}

.deck {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  &--20 {
    max-width: calc(#{$card-margin} * 10 + #{$card20-width} * 5);
  }

  &--30 {
    max-width: calc(#{$card-margin} * 12 + #{$card30-width} * 6);
  }

  &--50 {
    max-width: calc(#{$card-margin} * 20 + #{$card50-width} * 10);
  }

  &--70 {
    max-width: calc(#{$card-margin} * 20 + #{$card70-width} * 10);
  }

  &--100 {
    max-width: calc(#{$card-margin} * 20 + #{$card100-width} * 10);
  }
}

.card {
  margin: $card-margin;
  border-radius: 10%;
  box-shadow: 2px 2px 5px gray;

  &:before {
    content: "";
    padding-top: 100%;
    display: block;
  }

  &--hide {
    background-image: url("./assets/watercolor.png");
    background-size: 200%;
  }

  &--20 {
    width: $card20-width;
  }

  &--30 {
    width: $card30-width;
  }

  &--50 {
    width: $card50-width;
  }

  &--70 {
    width: $card70-width;
  }

  &--100 {
    width: $card100-width;
  }
}
